html::-webkit-scrollbar {
    width: 0px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

a:hover {
    color: goldenrod !important;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    background: currentColor;
}

.title {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.title__name {
    width: 100%;
    margin: 0px;
    font-size: 24px;
    font-family: 'Open Sans';
    color: whitesmoke;
}

.title__commonwealth {
    color: whitesmoke;
    margin-bottom: 0px;
    width: 100%;
    font-size: 14px;
    padding-left: 5px;
}

.title__sub-name {
    padding-left: 1px;
    color: goldenrod;
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-form__title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.main {
    padding: 0px !important;
}

.filters {
    padding-left: 0px !important;
    padding-right: 25px !important;
}

.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0px 0px 10px !important;
}

.movie-card {
    width: 200px;
    max-width: 200px;
    height: auto;
    max-height: 375px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
    background: #ffffff;
}

.movie-card__img {
    position: relative;
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.movie-card__desc {
    position: relative;
    width: 100%;
    height: 75px;
    padding: 0px 10px;
}

.movie-card__desc__title {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
}

.movie-card__desc__release-date {
    position: relative;
    width: 100%;
    font-size: 15px;
}

.filters-label {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 13px;
}

.sort {
    padding: 15px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    background: #ffffff;
}

.pagination {
    margin: 0px !important;
    padding: 0px !important;
}

.total-pages {
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e2e6ea;
}

.primary-release-year {
    display: block;
    margin: 0px 0px 4px;
    font-size: 16px;
    font-weight: 500;
}

.genre-label {
    display: block;
    margin: 10px 0px 4px;
    font-size: 16px;
    font-weight: 500;
}

.genres {
    margin-top: 7px;
    padding-left: 5px;
}

.genres__item__label {
    position: relative;
    top: -1.5px;
    margin-left: 6px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
}

.invalid-feedback {
    display: block !important;
}

input.invalid {
    border-color: #dc3545;
}

.dropdown {
    display: flex;
    justify-content: flex-end;
}

.user-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: cover;
}

.dropdown__wrapper {
    position: relative;
}

.dropdown__popover {
    position: absolute;
    z-index: 999;
}

.dropdown__wrapper-content {
    position: relative;
    z-index: 999;
}

.dropdown__cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 777;
}

.dropdown__menu {
    position: relative;
    width: 200px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(64, 80, 108, 0.2),
        0 0 24px -1px rgba(64, 80, 108, 0.2);
    border-radius: 8px;
}

.dropdown__menu::after {
    content: "";
    position: absolute;
    right: 10px;
    top: -14px;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.dropdown__menu-item {
    padding: 16px;
    font-size: 14px;
    color: #657389;
    line-height: 1;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
}

.dropdown__menu-item:first-of-type {
    border-radius: 10px 10px 0px 0px !important;
}

.dropdown__menu-item:last-of-type {
    border-radius: 0px 0px 10px 10px;
}

.dropdown__menu-item:not(:last-child) {
    border-bottom: 1px solid rgba(64, 80, 108, 0.1);
}

.dropdown__menu-item:hover {
    background-color: rgba(245, 246, 248, 0.5);
    color: #40506c;
}

.movie-settings {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 7px 7px 0px 7px;
    color: black;
}

.movie-settings .more-horiz {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background: rgb(255 255 255 / 50%);
    cursor: pointer;
    transition: all 0.2s;
}

.movie-settings .more-horiz .more-horiz__icon {
    font-size: 1.2rem;
}

.movie-settings .more-horiz:hover {
    background: rgb(255 255 255 / 70%);
}

.settings-menu {
    position: relative;
    width: 200px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(64, 80, 108, 0.2),
        0 0 24px -1px rgba(64, 80, 108, 0.2);
    border-radius: 8px;
    z-index: 999;
}

.settings-menu::after {
    content: "";
    position: absolute;
    right: 24px;
    top: -14px;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.settings-menu .settings-menuItem {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    color: #657389;
    line-height: 1;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
}

.settings-menu .settings-menuItem .MuiSvgIcon-root {
    font-size: 1.3rem;
}

.settings-menu .settings-menuItem .settings-title {
    margin-left: 7px;
    font-size: 14px;
}

.settings-menu .settings-menuItem:hover {
    background-color: rgba(245, 246, 248, 0.5);
    color: #40506c;
    border-radius: 10px;
}

.movie-settings__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.movie-settings__wrapper .more-horiz {
    margin-bottom: 11px;
    margin-right: 4px;
    margin-top: 2px;
}

.movie-settings__wrapper .settings-menu::after {
    right: 10px;
}

.movie-card__desc__vote-average {
    position: absolute;
    margin: 0px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    top: -22px;
    left: 17px;
    color: white;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 100%;
    background: #24242c;
    font-size: 15px;
}