* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    background: currentColor;
}

.title {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.title__name {
    margin: 0px;
    font-size: 24px;
    font-family: 'Open Sans';
    color: whitesmoke;
}

.title__name-prefix {
    padding-left: 1px;
    color: goldenrod;
}

.main {
    padding: 0px !important;
}

.filters {
    padding-left: 0px !important;
    padding-right: 25px !important;
}

.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0px 0px 10px !important;
}

.movie-card {
    width: 200px;
    max-width: 200px;
    height: auto;
    max-height: 365px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
    background: #ffffff;
}

.movie-card__img {
    position: relative;
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.movie-card__desc {
    position: relative;
    width: 100%;
    height: 65px;
    padding: 0px 10px;
}

.movie-card__desc__title {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 0px;
}

.movie-card__desc__release-date {
    position: relative;
    width: 100%;
    font-size: 15px;
}

.filters-label {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 13px;
}

.sort {
    padding: 15px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    background: #ffffff;
}

.pagination {
    margin: 0px !important;
    padding: 0px !important;
}

.total-pages {
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e2e6ea;
}

.primary-release-year {
    display: block;
    margin: 0px 0px 4px;
    font-size: 16px;
    font-weight: 500;
}

.genre-label {
    display: block;
    margin: 10px 0px 4px;
    font-size: 16px;
    font-weight: 500;
}

.genres {
    margin-top: 7px;
    padding-left: 5px;
}

.genres__item__label {
    position: relative;
    top: -1.5px;
    margin-left: 6px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
}